{
    "extends": "./linters/css/custom-stylelint-config-standard.js",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "color-hex-case": "upper",
        "string-quotes": "single",
        "font-family-name-quotes": "always-where-recommended",
        "selector-pseudo-class-no-unknown": [
            true, {
                "ignorePseudoClasses": [
                    "global"
                ]
            }
        ],
        "order/properties-alphabetical-order": true,
        "property-no-unknown": [
            true, {
                "ignoreProperties": [
                    "composes"
                ]
            }
        ],
        "indentation": 4
    }
}
